/* All CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* All CSS Reset */

/* Banner_Part Start */
#banner_part {
    padding: 200px 0px;
    width: 100%;
    background: #F2F6F7;

}
/* Banner_Part End */